.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --turkey: hsla(165, 38%, 51%, 1);
  --austria: hsla(206, 32%, 56%, 1);
  --france: hsla(260, 26%, 56%, 1);
  --england: hsla(354, 44%, 59%, 1);
  --italy: hsla(11, 87%, 67%, 1);
  --russia: hsla(18, 100%, 80%, 1);
  --germany: hsla(43, 100%, 80%, 1);
}

.icon-country {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

.icon-country-turkey {
  background-color: var(--turkey);
}

.icon-country-austria {
  background-color: var(--austria);
}

.icon-country-france {
  background-color: var(--france);
}

.icon-country-england {
  background-color: var(--england);
}

.icon-country-italy {
  background-color: var(--italy);
}

.icon-country-russia {
  background-color: var(--russia);
}

.icon-country-germany {
  background-color: var(--germany);
}
